---
export interface Props {
  number: string;
  illustration: string;
  title: string;
  subtitle: string;
}

const { number, illustration, title, subtitle } = Astro.props;
---

<div class="card">
  <div class="card__illustration">
    <img src={illustration} alt="Article illustration" />
  </div>
  <div class="card__content">
    <div class="card__number">{number}</div>
    <div class="card__title">{title}</div>
    <div class="card__subtitle">{subtitle}</div>
  </div>
</div>

<style scoped>
  .card {
    flex: 1;
    display: flex;
    cursor: pointer;
    gap: 1.5rem;
  }
  img {
    max-height: 100%;
  }
  .card__illustration {
    width: 30%;
  }
  .card__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }
  .card__number {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: normal;
    color: var(--text-color-alt);
  }
  .card__title {
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--heading-color);
    transition: all 0.15s ease-in-out;
  }
  .card:hover .card__title {
    color: var(--hover-color);
  }
</style>
